---
import type { Work } from '@kong/sanity';
import { urlFor } from '../lib/sanity';
import Text from './Text.astro';

interface Props {
    work: Work;
}

const { work } = Astro.props;
---

<a
    href={`/works/${work.slug.current}`}
    class="work-card border-border group relative aspect-square h-auto w-full overflow-hidden border"
>
    <img
        src={urlFor(work.coverImage).width(800).height(800).url()}
        srcset={`${urlFor(work.coverImage).width(400).height(400).url()} 400w, ${urlFor(work.coverImage).width(800).height(800).url()} 800w`}
        sizes="(max-width: 768px) 100vw, 50vw"
        alt={work.title}
        width={800}
        height={800}
        loading="lazy"
        class="absolute top-0 left-0 h-full w-full object-cover transition-transform duration-(--duration-normal) group-hover:scale-110"
    />
    <div
        class="from-overlay duration-normal absolute inset-x-0 bottom-0 flex h-3/4 items-end bg-linear-to-t to-transparent p-6 opacity-100 transition-opacity sm:p-14 xl:opacity-0 xl:group-hover:opacity-100"
    >
        <Text variant="body-xl" class="text-background">{work.title}</Text>
    </div>
</a>
