---
import Text from '../../Text.astro';
import Section from '../../Section.astro';
import { urlFor } from '../../../lib/sanity';
import type { Work } from '@kong/sanity';
import SocialLink from '../../SocialLink.astro';
import Reveal from '../../Reveal.astro';

interface Props {
    work: Work;
}

const { work } = Astro.props;
---

<Section
    hideBorder
    paddingTop="hero"
    class="gap-section-gap md:gap-hero-gap flex flex-col md:grid md:grid-cols-2 md:items-center"
>
    {
        work.metadata && work.metadata.length > 0 && (
            <Reveal class="order-last flex w-fit flex-col flex-wrap gap-x-4 md:order-0 md:col-span-2 md:ml-auto">
                {work.metadata.map((meta) => (
                    <div class="flex w-fit gap-1">
                        <Text variant="overline">{meta.label}:</Text>
                        <Text variant="overline" class="text-foreground">
                            {meta.value}
                        </Text>
                    </div>
                ))}
            </Reveal>
        )
    }
    <Reveal>
        <img
            src={urlFor(work.coverImage).width(800).height(800).url()}
            srcset={`${urlFor(work.coverImage).width(400).height(400).url()} 400w, ${urlFor(work.coverImage).width(800).height(800).url()} 800w`}
            sizes="(max-width: 768px) 100vw, 50vw"
            alt={work.title}
            width={800}
            height={800}
            class="border-border aspect-square w-full border"
            loading="eager"
        />
    </Reveal>
    <Reveal
        class="gap-content-gap md:gap-section-gap -order-1 flex flex-col md:order-0 md:col-start-2"
    >
        <Text variant="title" as="h1" class="break-all md:break-normal"
            >{work.title}</Text
        >
        {
            work.links && work.links.length > 0 && (
                <div class="gap-content-gap flex flex-wrap">
                    {work.links.map((link) => (
                        <SocialLink
                            text={link.label}
                            icon={link.icon}
                            href={link.url}
                        />
                    ))}
                </div>
            )
        }
    </Reveal>
</Section>
