---
import Text from '../../Text.astro';
import Section from '../../Section.astro';
import { urlFor } from '../../../lib/sanity';
import type { Work } from '@kong/sanity';
import SocialLink from '../../SocialLink.astro';
import Reveal from '../../Reveal.astro';

interface WorkMetadata {
    label: string;
    value: string;
}

interface Props {
    work: Work;
}

const { work } = Astro.props;

const workMetadata: WorkMetadata[] = [
    {
        label: 'Type',
        value: 'Open-Source Software',
    },
    {
        label: 'Stack',
        value: 'Next.js',
    },
    {
        label: 'Year',
        value: '2026',
    },
];
---

<Section
    hideBorder
    class="pt-hero-top pb-section-bottom gap-section-gap md:gap-hero-gap flex flex-col md:grid md:grid-cols-2 md:items-center"
>
    <Reveal
        class="order-last flex w-fit flex-col flex-wrap gap-x-4 md:order-0 md:col-span-2 md:ml-auto"
    >
        {
            workMetadata.map((metadata) => (
                <div class="flex w-fit gap-1">
                    <Text variant="overline">{metadata.label}:</Text>
                    <Text variant="overline" class="text-foreground">
                        {metadata.value}
                    </Text>
                </div>
            ))
        }
    </Reveal>
    <Reveal>
        <img
            src={urlFor(work.coverImage).width(800).height(800).url()}
            srcset={`${urlFor(work.coverImage).width(400).height(400).url()} 400w, ${urlFor(work.coverImage).width(800).height(800).url()} 800w`}
            sizes="(max-width: 768px) 100vw, 50vw"
            alt={work.title}
            width={800}
            height={800}
            class="border-border aspect-square w-full border"
        />
    </Reveal>
    <Reveal
        class="gap-content-gap md:gap-section-gap -order-1 flex flex-col md:order-0 md:col-start-2"
    >
        <Text variant="title" as="h1" class="break-all md:break-normal"
            >{work.title}</Text
        >
        {
            work.links && work.links.length > 0 && (
                <div class="gap-content-gap flex flex-wrap">
                    {work.links.map((link) => (
                        <SocialLink
                            text={link.label}
                            icon={link.icon}
                            href={link.url}
                        />
                    ))}
                </div>
            )
        }
    </Reveal>
</Section>
